@(id: Long, svnbranchForm: Form[SVNBranch])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Edit svnbranch</h1>
    
    @form(routes.SVNBranchs.update(id)) {
        
        <fieldset>
        
            @inputText(svnbranchForm("root"), '_label -> "Racine")
            
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Sauvegarder" class="btn primary"> ou 
            <a href="@routes.SVNBranchs.list()" class="btn">Annuler</a> 
        </div>
        
    }
    
    @form(routes.SVNBranchs.delete(id), 'class -> "topRight") {
        <input type="submit" value="Supprimer" class="btn danger">
    }
    
}
