@(id: Long, dataForm: Form[Data])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Edit data</h1>
    
    @form(routes.Datas.update(id)) {
        
        <fieldset>
        
            
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Sauvegarder" class="btn primary"> ou 
            <a href="@routes.Datas.list()" class="btn">Annuler</a> 
        </div>
        
    }
    
    @form(routes.Datas.delete(id), 'class -> "topRight") {
        <input type="submit" value="Supprimer" class="btn danger">
    }
    
}
