@(id: Long, environmentForm: Form[Environment])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Edit environment</h1>
    
    @form(routes.Environments.update(id)) {
        
        <fieldset>
        
            @inputText(environmentForm("name"), '_label -> "Nom")
			@inputText(environmentForm("mq"), '_label -> "MQ")
            
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Sauvegarder" class="btn primary"> ou 
            <a href="@routes.Environments.list()" class="btn">Annuler</a> 
        </div>
        
    }
    
    @form(routes.Environments.delete(id), 'class -> "topRight") {
        <input type="submit" value="Supprimer" class="btn danger">
    }
    
}
