@(ibmiForm: Form[IBMi])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Ajouter</h1>
    
    @form(routes.IBMis.save()) {
        
        <fieldset>
        
            @inputText(ibmiForm("name"), '_label -> "Nom")
			@inputText(ibmiForm("iasp"), '_label -> "iASP")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Créer" class="btn primary"> ou 
            <a href="@routes.IBMis.list()" class="btn">Annuler</a> 
        </div>
        
    }
    
}